.grid-container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-color: #2196F3;
    /* padding: 10px; */
  }

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    text-align: center;
  }
  #navbarSupportedContent{
      justify-content: space-between;
  }
  .header{
    grid-column: 1 / span 3;
    grid-row: 1;
  }
  /* right section */
  .right{
      background-color:teal;
  }
  /* end right section */
  /* menu section */
  .menu{
      background-color: blueviolet;
  }
  .link{
      text-decoration: none;
      color: black;
      padding-left: 10px;
  }
  .menu1{
      background-color:rgb(204, 190, 134);
      border:1px solid black;
      height:145vh;
  }
  .menu1:hover{
      background-color: rgb(165, 159, 133);
      color:#fff;
      border: 1px solid #fff;
  }
  .menu1-ul .menu2-ul{
      margin-top:20px;
  }
  .menu1-ul li{
    list-style: none;
    margin-top: 20px;
    padding:10px 0 10px 10px ;
    display: block;
    font-size:20px;
    text-align: initial;
    text-transform: capitalize;
  }
  .menu1-ul li:hover{
      background-color: rgb(163, 162, 159);
      color:rgb(27, 24, 24);
      margin-right: 10px;
      cursor:pointer;
  }
  .menu2{
    background-color:rgb(199, 180, 106);
    border:1px solid black;
    font-size:18px;
    height:145vh;
}
.menu2-ul li {
    /* margin-top: 20px; */
    padding:10px 0 10px 10px ;
    list-style: none;
    font-size:18px;
    display: block;
    text-align: initial;
    text-transform: capitalize;
}
.menu2-ul li:hover{
    font-size:16px;
    background-color: darkgray;
    margin-right:10px;
    color:whitesmoke;
    cursor: pointer;
}
.menu2 h3{
    color:#fff;
}
  /* end menu section */
  /* main section */
  .main{
      background-image: url("./imge/main\ background.jpg");
  }
  .main-h{
      color:rgb(161, 153, 153);
      text-align: center;
  }
  .main-div{
      width: 100%;
      height: 90%;
      background-color: lightblue;
      columns:3;
      padding-top:10px;
  }
  .img{
      width: 100%;
      height: 45%;
      margin:auto;
      /* padding-bottom:20px; */
  }
  .img-item{
      width:90%;
      padding-bottom: 10%;
      margin-top: 10px;
      height: 100%;
    border-radius: 20px;
  }
  .img-item:hover{
    cursor:pointer;
  }
  /* end section */

  /* footer section */
  .footer{
    grid-column: 1 / span 3;
    grid-row: 3;
    background-color: rgb(49, 43, 43);
    color:rgb(231, 212, 212);
  }
  .footer-h{
      columns:4;
      padding-bottom: 20px;
  }
  .awesome{
      color:cadetblue;
  }
  .awesome:hover{
      color:rgb(40, 245, 252)
  }
  .li{
      list-style: none;
      text-align: initial;
      cursor:pointer;
      padding-left:10px;
  }
  .li:hover{
      background-color:black;
      color:#fff;
      border-radius: 10px;
  }
  .footer-hed{
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: 40px;
  }
  .footer-btn-shere{
      color:#ccc;
      text-decoration: none;
  }
  .copyright{
    font-size: 18px;
    padding-bottom: 20px;
    color: aquamarine;
  }
  
  /* media Quert */

  @media screen and (max-width: 400px) and (min-width: 0px) {
    .menu1.menu2{
        height: 248vh;
    }
}
@media screen and (max-width: 600px) and (min-width: 400px) {
    .menu1.menu2{
        height: 248vh;
    }
}
@media screen and (max-width: 900px) and (min-width: 600px) {
    .menu1.menu2{
        height: 248vh;
    }
}
@media screen and (max-width: 1100px) and (min-width: 900px) {
    .menu1.menu2{
        height: 248vh;
    }
}
  @media screen and (max-width: 1332px) and (min-width: 1100px) {
      .menu1.menu2{
          height: 248vh;
      }
  }